:root {
    --blue: rgb(51, 106, 161);
    --clearest-blue: rgb(112, 155, 199);
    --clearest-green: rgb(150, 196, 148);
    --clearest-orange: rgb(231, 150, 138);
    --dark-blue: rgb(47, 74, 99);
    --dark-gray: rgb(52, 52, 52);
    --dark-orange: rgb(203, 67, 46);
    --gray: rgb(228, 228, 228);
    --green: rgb(37, 210, 133);
    --orange: rgb(236, 110, 90);
    --violet: rgb(173, 133, 191);
    --white: rgb(255, 255, 255);
}

a {
    color: inherit;
    text-decoration: none;
}

.body {
    color: var(--dark-gray);
    font-family: "Open Sans", Arial, sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 18px 0;
}

.header {
    background-color: var(--gray);
    display: flex;
    justify-content: center;
}

.header .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}

.navegation__link {
    display: inline-block;
}

.header__navegation {
    display: flex;
}

.header__navegation .navegation__link {
    border-bottom: .075em solid transparent;
    font-size: 16px;
    padding: 8px 0;
    transition: .6s ease;
}

.header__navegation .navegation__link:not(:last-child) {
    margin-right: 2.5em;
}

.header__navegation .navegation__link:hover {
    border-color: var(--blue);
    color: var(--blue);
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content__section {
    display: flex;
    justify-content: center;
}

.content__heading {
    margin-top: 0;
}

.content__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.content__list .list__item {
    align-items: flex-end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%;
    box-shadow: 5px 5px 5px var(--gray);
    display: flex;
    font-weight: 600;
    height: 180px;
    justify-content: flex-end;
    margin-bottom: 1em;
    width: calc(25% - 1em + 1em / 4);
    transition: .6s ease;
}

.content__list .list__item:nth-child(2n - 1) {
    background-image: url("../img/background1.svg");
}

.content__list .list__item:nth-child(2n) {
    background-image: url("../img/background2.svg");
}

.content__list .list__item:not(:nth-child(4n)) {
    margin-right: 1em;
}

.content__list .list__item:nth-child(2n - 1):hover {
    box-shadow: 5px 5px 5px var(--clearest-green);
    color: var(--clearest-green);
}

.content__list .list__item:nth-child(2n):hover {
    box-shadow: 5px 5px 5px var(--clearest-orange);
    color: var(--clearest-orange);
}

.content__list .list__link {
    padding: 1em 1.5em;
}

.content__section--secondary {
    background-color: var(--blue);
}

.content__section--secondary .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content__video {
    width: 560px;
    height: 315px;
    border-radius: .5em;
    box-shadow: 0 0 5em rgba(255, 255, 255, 0.5);
    margin: 1em 0;
}

.content__text {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: calc(100% - 560px);
}

.text__heading {
    color: var(--white);
    font-size: 1.5em;
    margin: 0 0 32px 0;
}

.text__list {
    color: var(--white);
    font-size: 1.25em;
    line-height: 2em;
}

.text__button {
    background-color: var(--orange);
    border: .075em solid var(--white);
    border-radius: .25em;
    color: var(--white);
    margin-top: 32px;
    padding: 8px;
    width: 75%;
    transition: .6s ease;
}

.text__button:hover {
    background-color: var(--dark-orange);
}

.footer__section {
    background-color: var(--dark-blue);
    color: var(--white);
    display: flex;
    justify-content: center;
    margin-top: .5em;
}

.text__heading--footer {
    margin: 8px 0 1em 0;
}

.footer__navegation {
    display: flex;
    width: 100%;
}

.navegation__division {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.navegation__title {
    margin: 0 0 .25em 0;
    border-left: .25em solid;
    padding-left: .5em;
}

.navegation__title--backend {
    color: var(--green);
    border-color: var(--green);
}

.navegation__title--fronted {
    color: var(--clearest-blue);
    border-color: var(--clearest-blue);
}

.navegation__title--frameworks {
    color: var(--violet);
    border-color: var(--violet);
}

.navegation__title--databases {
    color: var(--orange);
    border-color: var(--orange);
}

.navegation__link {
    line-height: 1.75em;
}
